<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<title>Handwritten Digit Recognition System</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<style>
    body{
        background-image: url("../static/css/bg-img.jpg");
        background-size: cover;
    }
   .fit-image{
        width: 100%;
        object-fit: cover;
        height: 200px; /* only if you want fixed height */

    }
   .img{
       height: 200px;
       width: 200px;
   }
   img{
  max-width:180px;
}


</style>
<body>
<div class="head">
    
</div>
<div class="container">
    <div id="content" style="...">
        <div class="container">
            <div class="row">

                <div class="col">
                    <div class="text-center"></div>
                </div>

                <div class="col text-center">
                    <form action="/web" method="post" enctype="multipart/form-data">
                        <h3 class = "page-header text-primary" style="color: #FFFFFF">Upload Image</h3>
                        <div class="form-group">
                            <label style="color: #FFFFFF">Browse Image</label>
                            <input type="file" onchange="readURL(this);" class="form-control" name="imagefile">
                            <img id="blah" src="http://placehold.it/180" alt="your image" />

                        </div>
                        <div class="text-center">
                            <input class="btn btn-primary mt-3" type="submit" value="Recognize">
                        </div>
                    </form>
                        <div>
                            {% if prediction%}
                                <p style="font-size:160%; color:#FFFFFF;" class="text-center">Predicted Number is {{prediction}}</p>
                            {% endif %}
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script>
   function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
</html>